@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
	display:flex;
	flex-wrap: wrap;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 10%;
    background: #1f242d ;
	 color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.logo { font-size: 25px;
color: white;
text-decoration: none;
font-weight: 600;
cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
display: inline-block;
font-size: 20px;
color: white;
text-decoration: none;
font-weight: 500;
margin-left: 35px;   
transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a:active {
    color: orange;
}
.home {
    position: relative;
    background: #303030 ;
	 color:#fff ; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

home-content h3:nth-of-type(2){
    margin-bottom: 30px;
        animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: orange;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
        animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content ul {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
	list-style: none;
}
.home-img img {
    max-width: 350px;
    margin-right: -20px;
	border-radius: 20%;
    background-color: var(--primary-light-color);
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid orange;
    border-radius: 50%;
    font-size: 20px;
    color: orange;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
        opacity: 0;
            animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: orange;
    color: #1f242d;
    box-shadow: 0 0 20px orange;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: orange;
    border-radius: 40px;
    box-shadow: 0 0 10px orange;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
            opacity: 0;
            animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}


/*KEYFRAMES ANIMATION*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
        100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
        100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
        100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
        100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
        100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

/* about section2 */
.cards {
    background: #1f242d ;
	 color: #fff;	
}
  .title {
	position: relative;
    padding: 75px 10% 0;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    color: #cd7f32;
    text-align: center;
  }

  p {
    line-height: 1.5em;
  }

  h1 + p, p + p {
    margin-top: 10px;
  }

  .container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
  }
  .card-wrap:hover .card-info {
    transform: translateY(0);
  }
  .card-wrap:hover .card-info p {
    opacity: 1;
  }
  .card-wrap:hover .card-info, .card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
  }
  .card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
  }
  .card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
  }

  .card {
    position: relative;
    flex: 0 0 240px;
    width: 250px;
    height: 250px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
  }

  .card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .card-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .card-info * {
    position: relative;
    z-index: 1;
  }
  .card-info:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .card-info h1 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
  }

/* about section3 */
.slider {
	 background: #303030 ;
	 color:#fff ;
}

.slider-wrapper {
  max-width: 1250px;
  width: 100%;
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #cd7f32;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: orange;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.image-item {
  transition: transform 0.3s ease-in-out;
}

.image-item:hover {
  transform: scale(1.08); 
  border: 3px solid rgb(205, 127, 50);
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 75%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 10px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}



/* about section4 */
.about-section {
    background: #1f242d ;
	color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
}

.blue-span {
    color: orange;
}

.img-div {
    height: 300px;
    width: 300px;
}

.about-section img {
    border-radius: 20%;
    background-color: var(--primary-light-color);
}

.about-section ol {
    list-style: none;
    color: var(--primary-white);
    margin-left: 90px;

}

.about-section ol li h1 {
    color: var(--primary-white);
    margin-bottom: 10px;
    font-size: 50px;

}

.about-section li {

    margin-bottom: 10px;
    color: var(--primary-grey);

}

.about-section li a {
    color: var(--primary-grey);

}



/* footer section */

footer {
	 background: #303030 ;
	 color:#fff ;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
    color: var(--primary-color);
}

footer p a {
    color: var(--primary-white);
}

footer p a:hover {
    color: orange;
}


@media only screen and (max-width: 768px) {
  /* Στυλ για οθόνες κινητών */
  .header {
    padding: 10px 5%;
    flex-direction: column;
    align-items: center;
		    justify-content: space-between;
    
  }

  .navbar a {
    font-size: 18px;
    margin-left: 10px;

  }

  .home {
    flex-direction: column;
    text-align: center;
    padding: 100px 5% 110%;
  }

  .home-content h1 {
    font-size: 30px;
  }
  .home-content h3 {
	font-size: 20px;  
  }

  .home-content ul {
    font-size: 14px;
  }

  .home-img img {
    max-width: 30%;
    margin-right: 0;
    margin-top: 5 px;
  }

  .card {
 flex: 0 0 100%;
    margin-bottom: 20px;
  }



  .about-section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .about-section img {
    margin-bottom: 20px;
  }

  .about-section ol {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .slider-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .slider-wrapper .image-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .slider-wrapper .image-list .image-item {
        width: 100%;
        height: auto;
    }

    .slider-scrollbar {
        display: none;
    }
}
























